<!DOCTYPE html>
<html>

<head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;IE=8;IE=9;IE=10;IE=11;" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 Not Found</title>
</head>
<body>
    <center>
        <div style="width:790px;height:590px;overflow:hidden;">
            <img style="border-width:0;border-style:none;width:800px;height:600px;margin:-2px;" src="/statics/images/404.gif">
        </div>
        <span style="color:#BABABA;font-size:20px;">The page you are looking for can't be found. Go home by </span><a style="color:#26B6EB;font-size:20px;" href="/">clicking here!</a>
    </center>
</body>

</html>