<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        html {
            height: 100%;
        }

        body {
            /* background: #353f5b; */
            height: 100%;
            overflow: hidden;
        }

        h1 {
            /* color: white; */
            /*text-align: center;
            padding-top: 40%;*/
        }
    </style>
</head>

<body>
    <div style="margin:0 auto;text-align:center;width: 100%;position: relative;top:50%;transform: translateY(-60%);">
        <i class="fa fa-ban fa-6" aria-hidden="true" style="font-size:200px;"></i>
        <h1>Access denied because you have not permission</h1>
    </div>
    <script type="text/javascript" src="/statics/js/jquery.min.js"></script>
    <script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var win_height = $(window).height;
        });
    </script>
</body>

</html>