<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="./js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/utils.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        html {
            height: 100%;
        }

        body {
            background: #353f5b;
            height: 100%;
            overflow: hidden;
        }

        h1 {
            color: white;
            /*text-align: center;
            padding-top: 40%;*/
        }
    </style>
    <script>
        $(document).ready(function () {
            var win_height = $(window).height;
        });
    </script>
</head>

<body>
    <div style="margin:-60px 0 0 -275px; width: 550px; height:80px; position: absolute; top:50%; left:50%;">
        <h1>Welcome to NMS(SAE BeacoNice)!</h1>
    </div>
</body>

</html>