/* reset.css */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, 
	fieldset, legend, input, button, textarea, p, blockquote, th, td { 
	margin: 0; padding: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { 
	font-style: inherit; font-weight: inherit; }
input, button, textarea, select, optgroup, option { font-family: inherit; 
	font-size: inherit; font-style: inherit; font-weight: inherit; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ol, ul { list-style: none; }
fieldset, img { border: 0 none; }
sup, sub { font-size: 100%; vertical-align: baseline; }
:link, :visited { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input, button, textarea, select { font-size: 100%; }
html, body, header, footer, section, article, aside, dialog, nav { display: block; }
audio, canvas, video { display: inline-block; }

/* html.css */
body { background: #fff; color: #555; margin: 0;
	font: 13px "STHeiti", "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular",
	"Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"; }
a { color: #009ad2; transition-property: color; transition-duration: 0.3s; }
a, button, input { outline: 0; }
a:hover { color: #53589a; text-decoration: underline; }
area { border: 1px solid #999; cursor: pointer; }
h1, h2, h3, h4, h5, h6 { line-height: 160%; color: #333; }
h1 { font-size: 32px; margin: 32px 0 24px; color: #555; }
h2 { font-size: 24px; margin: 32px 0 20px; color: #333; }
h3 { font-size: 21px; margin: 24px 0 16px; color: #333; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }
hr { height: 1px; border: none; border-top: 1px dashed #ddd; }
p  { margin: 3px 0; }
p code { padding: 0 8px; }
strong { font-weight: bold; }


/* md-pad.css */
@media screen and (min-width: 800px) {

}


/* md-mobile.css */
@media screen and (max-width: 800px) { 

}
